.selectors {
  padding: 10px 40px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  color: #1d2d44;
}

h3 {
  color: #748cab;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;

  &.highlight {
    font-weight: 700;
  }
}

.article p.highlight {
  color: #f44336;
}
